.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.headerTop{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.div1{
  font-size: 40px;
  font-weight: 500;
}
.div3{
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
}
.p1{
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
}
.p2{
  font-size: 24px;
  font-weight: 500;
}
.p3{
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 780px ) {
  .headerTop{
    height: auto;
    flex-flow: column wrap;
  }
  .p1{
    font-size: 14px;
  }
  .p2, .p3{
    font-size: 14px;
  }
  .div3{
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
  
