.section {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.main {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.div1 {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p1 {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
}
.p2 {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
}
.div2 {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.div21 {
  width: 25%;
  height: 360px;
  padding-top: 40px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p21 {
  width: 75%;
  height: 40px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 100;
  color: white;
  border-bottom: 1px solid lightgray;
}
.p21:hover {
  width: 100%;
  padding-left: 48px;
  background-color: aliceblue;
  border: none;
  color: black;
}
.div22 {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.div22map {
  width: 30%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.img {
  width: 80%;
}
.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.info {
  height: 200px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
}
.price {
  font-size: 26px;
  font-weight: bold;
}
.btn {
  width: 50%;
  height: 40px;
  color: white;
  background-color: rgb(156, 81, 156);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .section {
    margin: 20px 0;
  }
  .main {
    width: 100%;
  }
  .div1 {
    margin: 10px 0;
  }
  .p1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .p2 {
    font-size: 20px;
  }
  .div2 {
flex-direction: column;
  }
  .div21 {
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .p21 {
    height: auto;
  }
  .div22 {
    width: 100%;
    margin-top: 20px;
  }
}